// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_of_foodlogs_and_workouts {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 200px;
    padding: 0%;
    // width: 10%;
}
.home_page_stats {
    width: 500px;
}

.card {
    width: 1000px;
}

.total_cal {
    z-index: 1;
    color: black;
}

body {
    background: linear-gradient(180deg,rgba(6,12,6,.75),rgba(93, 164, 211, 0.9)); 
    z-index: -1;
}